




.Dt3KRw, ._7_i_XA  {
	display: none;
}



.titlefix {
	font-family: 'MarkRegular';
	font-weight: 700 !important;
	color: #5A5F66;
}

.titlenorm {
	font-family: 'MarkRegular';
	font-weight: 700 !important;
	color: #5A5F66;
}


.subtitlenorm {
	font-family: 'MarkRegular';
	font-weight: 400 !important;
	color: #5A5F66;
}


.x1 {
	font-family: 'MarkBold';
	font-weight: 700 !important;
}


.x2 {
	font-family: 'MarkRegular';
	font-weight: 400 !important;
	color: #5A5F66;
}

.x2 span {
	font-family: 'MarkRegular';
	font-weight: 400 !important;
	color: #5A5F66;
}

.x1 span {
	font-family: 'MarkBold';
	font-weight: 700 !important;
}

._7_i_XA {
	object-fit: cover !important;
}

.x2 span b {
	font-family: 'MarkBold';
	font-weight: 700 !important;
}

.projectInfo h3 {
	font-family: 'MarkBold';
	font-weight: 700 !important;
}
.projectInfo h6 {
	font-family: 'MarkBold';
	font-weight: 700 !important;
}
.projectInfo li {
	font-family: 'MarkRegular';
	font-weight: 400 !important;
	color: #5A5F66;
}



