












.xvJQZA {
	height: 80vh;
}


._2y_DBA {
	width: 100% !important;
	height: 100% !important;
}


.titlefix {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
	font-size: 80px;
    color: rgb(0, 0, 0);
    line-height: 91px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
}

.titlenorm {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
	font-size: 80px;
    color: rgb(0, 0, 0);
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
}


.subtitlenorm {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 400 !important;
	font-size: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: none;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
}


.x1 {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
}


.x2 {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 400 !important;
}

.x2 span {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 400 !important;
}

.x1 span {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
}

._7_i_XA {
	object-fit: cover !important;
}

.xstyle {
    width: 100%;
    height: 100%;
    padding-top: 7px;
    object-fit: fill;
}

.x2 span b {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
}

.projectInfo h3 {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
	font-size: 45px !important;
}
.projectInfo h6 {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 700 !important;
	font-size: 20px !important;
}
.projectInfo li {
	font-family: "Gaegu", sans-serif !important;
	font-weight: 400 !important;
	font-size: 17px !important;
	line-height: 22px !important;
}

.userPersona {
	background-color: white;
	border-radius: 50%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mainComponent {
	display: block;
}

img {
	height: auto;
	width: auto;
}


body {
	background-color: white;
}